<%if @user%>
<p>logged in as <%=@user.email%> | <%=link_to('logout', destroy_user_session_url, :method=>:delete)%></p>
<%elsif @session_user %>
<p>logged in as <%=@session_user%> | <%=link_to('logout', fb_login_url, :method=>:delete)%></p>
<% else %>
<p><%=link_to('login', new_user_session_url)%> | <%= link_to 'facebook login', new_fb_login_url %></p>
<%end%>
<p></p>
<h2> This is the homepage! </h2>

